$material-icons-font-path: '../../node_modules/material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';
@import '@rsmdc/appbar/rs-app-bar';

:host {
   -webkit-overflow-scrolling: touch;
 }
 
.app-bar {
   &.-dense {
      @include rs-app-bar-type(dense);
   }
   
   &.-prominent {
      @include rs-app-bar-type(prominent);
      --rs-app-bar-row--overflow-scrolling:touch;
      --rs-app-bar-row--overflow-y:auto;
      --rs-app-bar-row--overflow-x:hidden;
   }

   &.-collapsed {
      @include rs-app-bar-type(collapsed, short);
   }

   > .nav {
      @include rs-app-bar-nav-icon-image(
         Material Icons,
         map-get($material-icons-codepoints, menu)
       );
   }

   > .tool > .item.-search {
      @include rs-app-bar-tool-icon-image(
         Material Icons,
         map-get($material-icons-codepoints, search)
      );
   }
}


.subcontent-area {
   height: 700px;
}