$material-icons-font-path: '../../node_modules/material-icons/iconfont/';
@import '../../node_modules/material-icons/iconfont/material-icons.scss';

#root {
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  th, td {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
  }

  th {
    background-color: rgba(0,0,0,.1);
  }
}

code {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #f3f2f2;
  color: #3a3a3a;
}

p, ul > li {
  line-height: 1.7;
  font-size: 15px;
}

.hljs {
  padding-top: 30px !important;

  &:before {
    position: absolute;
    margin-top: -25px;
    margin-left: -10px;
    color: #afacac;
    font-size: 0.8em;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
  }

  &.html::before {
    content: "HTML";
  }
  &.js::before {
    content: "JS";
  }
  &.scss::before {
    content: "SCSS";
  }
  &.shell::before {
    content: "SHELL";
  }
}

.code {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.1);
  padding: 10px 15px;
  color: #333333;
  font-size: 13px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 5px;

  > p {
    margin-top: 0;
    margin-bottom: 0;
  }
}